html, body {
    background-image: url("../Assets/Images/double-bubble.png");

}

.card-footer {
    background-color: white;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.25);
}

.navbar {
    font-family: 'Volkhov', serif;
    font-size: 25px;
    background-color: white!important;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.25);
}

.navbar-brand {   
    font-family: 'Volkhov', serif;
    font-size: 35px;
    color: black;
}

i {
    color: black;
}

.dropdown-menu { 
    background-color: white;
}

a {
    color: black;
    font-family: 'Volkhov', serif;
}

span {
    font-size: 15px !important;
    font-family: 'Cormorant', serif !important;
}

.myFont {
    text-decoration: none;
    color: black;
    font-family: 'Volkhov', serif;
}

.fab, .fas {
    font-size: 40px;
    letter-spacing: 20px;
}

h3, h5 {
    font-family: 'Volkhov', serif;
    color: black;
}

h6 {
    font-family: 'Cormorant', serif !important;
    font-size: 18px;
}

p {
    font-family: 'Cormorant', serif;
    font-size: 20px;
    color: black;
}

li {
    font-family: 'Cormorant', serif;
}

.resume0 {
    font-family: 'Source Serif Pro', serif !important;
    font-size: 14px !important;
}


#map {
    height: 500px;
    width: auto;
    padding-bottom: 100px;
}

.map {
    padding-bottom: 100px;
}

.title {
    font-size: 40px;
}

.resume, .linkedin {
    position: relative;
    display: inline-block;
}

.column-left, .column-right {
    background-color: white;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.15);
}

.resumeText, .linkedinText {
    visibility: hidden;
    width: 200px;
    opacity: .7;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.resume:hover .resumeText {
    visibility: visible;
}

.linkedin:hover .linkedinText {
    visibility: visible;
}

.appPic {
    width: 100%;
    margin-top: 20px;
}

.app {
    background-color: white;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.15);
    
}

.andyImg {
    height: 250px;
}

.neilImg{
    width: 250px;
    margin-top: 25px;
}

.unders:hover {
    text-decoration: underline;  
    cursor: pointer; 
}

.n1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: black;
}

.n2 {
    font-size: 16px;
    font-family: 'Source Serif Pro', serif !important;
    color: black;
}

.n3 {
    font-size: 14px;
    font-family: 'Source Serif Pro', serif !important;
    color: black;
}

.resume {
    font-family: 'Source Serif Pro', serif !important;
    font-size: 16px !important;
    color: black;
}

.resume1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

.resume0 {
    color: black;
}

.nav-link {
    color: black !important;
}

.quote {
    height: 600px;
}